@charset "UTF-8";
@font-face {
  font-family: PlastoTrial_ExtraBold;
  font-weight: 700;
  src: url(./asset/font/PlastoTrial-ExtraBold.otf) format("truetype");
  text-rendering: optimizeLegibility;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: PlastoTrial_ExtraBold;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper .top {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 25px;
}

.wrapper .top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .top ul li {
  margin: 0 35px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .top ul li:hover {
  color: #4eaaff;
}

.wrapper .top .nav-wrapper .sign-in-link {
  color: #4eaaff;
}

.wrapper .top .link-wrapper .link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  z-index: 1;
}

.wrapper .top .link-wrapper .link-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper .top .link-wrapper .link-item span {
  font-size: 30px;
  font-weight: 900;
}

.wrapper .title {
  margin: 10px 0;
  text-align: center;
}

.wrapper .parallax-wrapper {
  width: 100vw;
  height: 100%;
}

.wrapper .parallax-wrapper #scene {
  position: relative;
  left: -15%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.wrapper .parallax-wrapper #scene .layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.wrapper .parallax-wrapper #scene .layer svg {
  position: absolute;
  width: 99%;
  height: 99%;
  left: 0;
  top: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.wrapper .parallax-wrapper #scene .layer svg::before {
  content: "";
  display: block;
  height: 110%;
  /* 调整为您需要的宽度 */
  border-right: 80px solid #fff;
  /* 创建L型的左下部分 */
  position: absolute;
  top: -5%;
  right: -125px;
}

.wrapper .parallax-wrapper #scene .layer .mercurio {
  position: absolute;
  left: 45%;
  top: 68%;
}

.wrapper .parallax-wrapper #scene .layer .Jupiter {
  position: absolute;
  left: 32%;
  top: 40%;
}

.wrapper .parallax-wrapper #scene .layer .Venus {
  position: absolute;
  left: 63%;
  top: 18%;
}

.wrapper .parallax-wrapper #scene .layer .astronaut {
  width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper .parallax-wrapper #scene .layer-mask::before {
  content: "";
  display: block;
  width: 125%;
  height: 125%;
  position: fixed !important;
  left: -10% !important;
  top: -15% !important;
  z-index: 1;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      color-stop(4%, #fff),
      color-stop(4%, transparent),
      color-stop(95%, transparent),
      color-stop(95%, #fff),
      to(#fff)
    ),
    -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fff),
        color-stop(15%, #fff),
        color-stop(15%, transparent),
        color-stop(88%, transparent),
        color-stop(88%, #fff),
        to(#fff)
      ),
    -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        color-stop(15%, #fff),
        color-stop(15%, transparent),
        color-stop(88%, transparent),
        color-stop(88%, #fff),
        to(#fff)
      );
  background-image:
    linear-gradient(
      #fff,
      #fff 4%,
      transparent 4%,
      transparent 95%,
      #fff 95%,
      #fff 100%
    ),
    linear-gradient(
      to right,
      #fff,
      #fff 15%,
      transparent 15%,
      transparent 88%,
      #fff 88%,
      #fff 100%
    ),
    linear-gradient(
      to bottom,
      #fff,
      #fff 15%,
      transparent 15%,
      transparent 88%,
      #fff 88%,
      #fff 100%
    );
}

.wrapper .form-wrapper {
  width: 400px;
  position: absolute;
  right: 7%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.wrapper .form-wrapper .forms {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 7%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.wrapper .form-wrapper .forms .input-content {
  width: 100%;
}

.wrapper .form-wrapper .forms .input-content .input-item {
  margin: 20px 0;
}

.wrapper .form-wrapper .forms .input-content .input-item .input-title {
  margin: 10px 0;
}

.wrapper .form-wrapper .forms .input-content .input-item input {
  display: block;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid lightgray;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper
  .form-wrapper
  .forms
  .input-content
  .input-item
  input::-webkit-input-placeholder {
  font-family: PlastoTrial_ExtraBold, Arial, sans-serif;
}

.wrapper .form-wrapper .forms .input-content .input-item input:hover {
  border: 1px solid #4eaaff;
}

.wrapper .form-wrapper .forms .tips {
  width: 100%;
  text-align: right;
  color: #4eaaff;
  cursor: pointer;
  margin-bottom: 20px;
}

.wrapper .form-wrapper .forms .btn {
  width: 100%;
  height: 40px;
  border: 0;
  margin: 10px 0;
  background-color: #4eaaff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: PlastoTrial_ExtraBold;
  font-size: 20px;
}

.wrapper .form-wrapper .forms .btn:hover {
  -webkit-box-shadow: -20px 10px 32px 1px rgba(182, 183, 185, 0.37);
  box-shadow: -20px 10px 32px 1px rgba(182, 183, 185, 0.37);
}

.wrapper .form-wrapper .forms .other-sign {
  width: 100%;
}

.wrapper .form-wrapper .forms .other-sign .diliver {
  width: 100%;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper .form-wrapper .forms .other-sign .diliver span {
  display: inline-block;
  margin: 0 40px;
}

.wrapper .form-wrapper .forms .other-sign .diliver::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c2cdd8;
}

.wrapper .form-wrapper .forms .other-sign .diliver::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c2cdd8;
}

.wrapper .form-wrapper .forms .other-sign .sign-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .form-wrapper .forms .other-sign .sign-function .sign-item {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .form-wrapper .forms .other-sign .sign-function .sign-item img {
  width: 40px;
  height: 40px;
}

.wrapper .form-wrapper .forms .other-sign .sign-function .sign-item:hover {
  -webkit-box-shadow: 1px 10px 32px 3px rgba(182, 183, 185, 0.37);
  box-shadow: 1px 10px 32px 3px rgba(182, 183, 185, 0.37);
}

.wrapper .form-wrapper .login-wrapper {
  display: block;
}

.wrapper .form-wrapper .register-wrapper {
  display: none;
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 992px) {
  .wrapper .top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  .wrapper .top .nav-wrapper {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .wrapper .top .nav-wrapper .nav-item {
    margin: 0 15px;
    text-align: center;
    font-size: 1rem;
  }
  .wrapper .top .link-wrapper {
    display: none;
  }
  .wrapper .parallax-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url("./asset/_0014.svg");
    background-size: cover;
  }
  .wrapper .parallax-wrapper #scene {
    display: none;
  }
  .wrapper .form-wrapper {
    width: 70vw;
  }
  .wrapper .form-wrapper .forms::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 #e1e1e1;
    box-shadow: 0 8px 32px 0 #e1e1e1;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: -1;
  }
}
/*# sourceMappingURL=style.css.map */
